<form class="container">
  <p class=" text-center display-3 mt-3 mb-3">Post Job</p>

  <p class="display-4"><u>Requirement Details</u></p>

  <div class="form-group">
    <label class="bmd-label-floating">Job Title</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label class="bmd-label-floating">Functional Area/ Job Role</label>
    <select class="form-control">
      <option>Front Office / Receptionist/ Secretary</option>
      <option>Banking / Insurance / Financial</option>
      <option>Plumber / Painter / Carpenter</option>
      <option>Tailoring</option>
      <option>Cleaner / Peon / Housekeeping / Washer</option>
      <option>Fitter / Welder / Turner</option>
      <option>Driver</option>
      <option>Labour / Helper / Worker</option>
      <option>Maid / Aaya / Caretaker</option>
      <option>Mechanic / Electrician / Technician</option>
      <option>Operator / Machinist / Moulder</option>
      <option>Legal / Company Secretary / Regulatory</option>
      <option>Journalism / Editing / Content</option>
      <option>IT Hardware / Networking / Telecom Engineer</option>
      <option>Fashion Designing / Merchandising</option>
      <option>Logistics / Purchase / Import / Export</option>
      <option>Medical / Healthcare / Pharmaceuticals / Biotechnology</option>
      <option>Fire / Security / Detective Services</option>
      <option>Beauty / Fitness / Spa Services/ Sports</option>
      <option>Architecture / Interior Design</option>
      <option>Films / Entertainment / Media / Events</option>
      <option>Data Analytics / MIS / Business Intelligence</option>
      <option>Sales / Marketing / Business Development</option>
      <option>Accounts / Finance / Taxation</option>
      <option>Call Center/ Customer Service/ BPO</option>
      <option>IT software / Application Programming</option>
      <option>HR / Recruitment / Administration / IR</option>
      <option>Data Entry / Back Office</option>
      <option>Graphic / Web Design / Creative Design</option>
      <option>Hotels / Restaurants / Chef</option>
      <option>Teaching / Education / Training / Counselling</option>
      <option>Travel / Tours / Ticketing / Airlines</option>
      <option>Production / Service / Maintenance</option>
      <option>Engineer(Mechanical ,Civil, Electrical etc.)</option>
      <option>Delivery / Field / Collection /</option>
      <option>Digital Marketing / SEO / Advertising</option>
      <option>Other</option>
    </select>
  </div>

  <div class="form-group">
    <label class="bmd-label-floating">Enter The Skill Which You Want</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label class="bmd-label-floating">Salary</label>
    <input type="number" class="form-control">
  </div>


  <div class="form-group">
    <label class="bmd-label-floating">Work Experience <small class="text-muted">(in years)</small></label>
    <input type="number" class="form-control">
  </div>

  <div class="form-group">
    <label class="bmd-label-floating">Qualification</label>
    <select class="form-control">
        <option >Select Qualification Level</option>
        <option >10 or Below</option>
        <option >10+2 or above</option>
        <option >Diploma</option>
        <option >Graduation</option>
        <option >Post Graduation</option>
    </select>
  </div>

  <div class="form-group">
    <label class="bmd-label-floating">Qualification Course</label>
    <input type="text" class="form-control">
  </div>



  <div class="form-group">
    <label class="bmd-label-floating">Job Description</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  
  <div class="form-group">
    <label> Select Gender</label> <br>
  <div class="radio">
    <label>
      <input type="radio" name="gender" value="male">
      Male
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="gender" value="female">
      Female
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="gender" value="both">
      Both
    </label>
  </div>
</div>
  
  <button class="btn btn-default">Reset</button> &nbsp;
  <button type="submit" class="btn btn-primary btn-raised">Submit</button>
</form>
