<section class="w-100 show-jobs-container">

    <h1 class="container  display-3 pt-5">X Title Jobs in City</h1>

    <div class="card p-2 container w-50 mt-3">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <div class="d-flex flex-row ">
            <img src="../../assets/Sheryians brand logo.png" height="100" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a routerLink='/jobs-desc' class="card-link">More Details</a>
            </div>
        </div>
    </div>

    

</section>
