<form class="container">
    <p class="display-3 mt-5">Employer Register Form</p>
    
    <div class="form-group">
        <label class="bmd-label-floating">Full Name</label>
        <input type="text" class="form-control" >
      </div>

    <div class="form-group">
      <label class="bmd-label-floating">Email address</label>
      <input type="email" class="form-control">
      <span class="bmd-help">We'll never share your email with anyone else.</span>
    </div>
    
    <div class="form-group">
      <label class="bmd-label-floating">Password</label>
      <input type="password" class="form-control">
    </div>

    <div class="form-group">
        <label class="bmd-label-floating">Confirm Password</label>
        <input type="password" class="form-control">
      </div>
  
      <br>
      
    <button class="btn btn-default">Reset</button> &nbsp;
    <button type="submit" class="btn btn-primary btn-raised">Submit</button>
  </form>