<section class="pt-5 pr-5 pl-5">

    <div class="jumbotron p-2 w-100 bg-light">
        
        <div class="d-flex flex-row align-items-center">
            <img src="../../../assets/Sheryians brand logo.png" height="100" alt="..." class="rounded-circle">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle  text-muted">Card subtitle</h6>
                <small class="text-muted ">Location of the job</small>
            </div>
        </div>
        
        <div class="d-flex justify-content-between align-items-center mt-5">

            <div class="text-center">
                <p class="rounded-circle bg-white job-desc"><i class="fas fa-industry text-primary"></i></p>
                <div class="card-body">
                    <h6 class="card-subtitle  text-muted">Industry Type</h6>
                    <small class="text-muted ">Job Industry</small>
                </div>
            </div>

            <div class="text-center">
                <p class="rounded-circle bg-white job-desc"><i class="fas fa-rupee-sign text-primary"></i></p>
                <div class="card-body">
                    <h6 class="card-subtitle text-muted">Salary</h6>
                    <small class="text-muted ">Salary per month</small>
                </div>
            </div>

            <div class="text-center">
                <p class="rounded-circle bg-white job-desc"><i class="fas fa-briefcase text-primary"></i></p>
                <div class="card-body">
                    <h6 class="card-subtitle text-muted">0 - 6 Yr.</h6>
                    <small class="text-muted ">Experience</small>
                </div>
            </div>

            <div class="text-center">
                <p class="rounded-circle bg-white job-desc"><i class="fas fa-graduation-cap text-primary"></i></p>
                <div class="card-body">
                    <h6 class="card-subtitle text-muted">Post Graduation</h6>
                    <small class="text-muted ">Minimum Qualification</small>
                </div>
            </div>

            <div class="text-center">
                <p class="rounded-circle bg-white job-desc"><i class="fas fa-user-md text-primary"></i></p>
                <div class="card-body">
                    <h6 class="card-subtitle  text-muted">Full/Part Time</h6>
                    <small class="text-muted ">Employment</small>
                </div>
            </div>

            <div class="text-center">
                <p class="rounded-circle bg-white job-desc"><i class="fas fa-phone-square-alt text-primary"></i></p>
                <div class="card-body">
                    <h6 class="card-subtitle  text-muted">XYZ name</h6>
                    <small class="text-muted ">Contact Person</small>
                </div>
            </div>

        </div>

        <hr>
    <p class="display-3 text-center mt-3 mb-3 text-primary">Job Description</p>

    <p class="container jumbotron bg-white p-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est nobis fugiat repudiandae. Quisquam tenetur laborum doloremque, nisi natus debitis soluta corrupti illo perspiciatis ex. Minus laboriosam sit iste ea excepturi.</p>

    <div class="text-center jumbotron bg-transparent">
        <h2 class="display-4 text-primary mb-3">Required Skills</h2>
        <span class="border border-primary rounded badge text-primary mr-3">Primary</span>
    </div>

    </div>
        <button (click)="onApplyNow()"  class="d-block btn btn-primary btn-lg mb-4 ml-auto mr-auto">Apply Now</button>
</section>

