<form class="container w-50">
    <p class="display-3 mt-5">Employer Login</p>
      
    <div class="form-group">
        <label class="bmd-label-floating">Email</label>
        <input 
            type="email" 
            class="form-control">
      </div>

      <div class="form-group">
        <label class="bmd-label-floating">Password</label>
        <input 
            type="password" 
            class="form-control">
      </div>

      <br>
      
      <span class="form-group bmd-form-group">
        <button type="submit" class="btn btn-primary">Employer Login</button>
      </span>

      <p class="text-muted text-right small">
        <a href="">Already a Member ?</a>
        </p>
</form>

