<div class="bmd-layout-container bmd-drawer-f-t bmd-drawer-overlay ">

    <header class="bmd-layout-header main-bgcolor">
      <div class="navbar navbar-black bg-faded">
        <button class="navbar-toggler text-white" type="button" data-toggle="drawer" data-target="#dw-p3">
          <span class="sr-only">Toggle drawer</span>
          <i class="material-icons">menu</i>
        </button>
        <ul class="nav navbar-nav">
          <li class="nav-item">

              <input 
                [(ngModel)]="defaultPanel"
                name="toggle" 
                value="employe"
                (change)="onPanelSwitch('employe')"
                type="radio" 
                class="toggle toggle-left" 
                id="toggle-on" 
                >
              <label routerLink="/" for="toggle-on">Employee</label>
              <input 
                [(ngModel)]="defaultPanel"
                name="toggle"
                value="employer"
                (change)="onPanelSwitch('employer')"
                type="radio" 
                class="toggle toggle-right" 
                id="toggle-off">
              <label routerLink="/employer-dash" for="toggle-off">Employer</label>

            </li>
        </ul>
      </div>
    </header>
    
    <div id="dw-p3" class="bmd-layout-drawer bg-faded">
      <header>
        <a class="navbar-brand">
            <img src="../../assets/Sheryians brand logo.png" height="30" alt="">
            SheryIshKill
        </a>
      </header>
      <ul class="list-group">
        
        <a 
          [routerLink]="['/', pathString + '-login']" 
          class="list-group-item">Login</a>
        
        <a 
          [routerLink]="['/', pathString + '-register']" 
          class="list-group-item">Register</a>
        
        <a 
          routerLink='/post-job' 
          class="list-group-item">Post Job</a>
      
        </ul>
    </div>
    
    <main class="bmd-layout-content">
      <div class="navigation-contianer">
          
          <router-outlet></router-outlet>
    
        </div>
        <footer class="footer pt-2 pb-2 main-bgcolor">
          <div class="container d-flex justify-content-between align-items-center">
            <span class="text-muted">&copy; Sheryians 2020</span>
            <small class="text-muted">Here We Teach So You May Outreach</small>
            <img src="../../assets/Sheryians brand logo.png" height="30" alt="">
          </div>
        </footer>
    </main>
  </div>
